/* Navbar.css */

.navbar {
    background-color: rgba(40, 40, 40, 0.938);
    padding: 0;
    text-align: center;
    justify-content: center;
    height: 50px; /* Use fixed height */
    display: flex; /* Use flexbox for alignment */
    align-items: center;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox to distribute items evenly */
    justify-content: center;
  }
  
  .navbar-item {
    margin-right: 20px;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px; /* Use fixed font-size */
  }
  
  .navbar-link:hover {
    color: #000000;
  }
  